Repository jabardigitalservice/event-management-system, pull requests merged in 2023-10, with the labels that each got.

#1 feat(event): init boilerplate event service
  service/.docker/Dockerfile
  service/.env.example
  service/.gitignore
  service/Makefile
  service/cmd/run-api
  service/go.mod
  service/go.sum
  service/src/app/app.go
  service/src/app/pgsql.go
  service/src/constant/constant.go
  service/src/error/error.go
  service/src/helper/datetime/converter.go
  service/src/helper/datetime/datetime.go
  service/src/helper/http/response/response.go
  service/src/helper/jwt/jwt.go
  service/src/helper/sql/parser.go
  service/src/helper/utils/utils.go
  service/src/interface/log/usecase.go
  service/src/migration/main.go
  service/src/modules/modules.go
  service/src/modules/ping/endpoint/endpoint.go
  service/src/modules/ping/endpoint/get_health_check.go
  service/src/modules/ping/module.go
  service/src/modules/ping/repository/health_check.go
  service/src/modules/ping/repository/repository.go
  service/src/modules/ping/transport/http/handler/get_health_check.go
  service/src/modules/ping/transport/http/handler/handler.go
  service/src/modules/ping/transport/http/router.go
  service/src/modules/ping/usecase/get_health_check.go
  service/src/modules/ping/usecase/usecase.go
  service/src/response/http/2xx.go
  service/src/response/http/4xx.go
  service/src/response/http/5xx.go
  service/src/response/http/http.go
  service/src/services/main.go
Labels: service, event

#8 build(init): event service deployment
  .github/workflows/build-event-service-staging.yml
  .github/workflows/ci-event-service.yml
Labels: service, event, ci/cd

#9 build(init): event service deployment
  .github/workflows/build-event-service-staging.yml
  .github/workflows/ci-event-service.yml
Labels: event, ci/cd

#10 fix(ci): set runner to ubuntu-latest
  .github/workflows/ci-event-service.yml
Labels: event, ci/cd

#11 fix(ci): set runner to ubuntu-latest
  .github/workflows/ci-event-service.yml
Labels: event, ci/cd

#15 Feat(event) : Create Function For Object
  service/go.mod
  service/go.sum
  service/src/app/app.go
  service/src/app/config.go
  service/src/app/pgsql.go
  service/src/constant/constant.go
  service/src/migration/script/20231024064336_create_table_object.down.sql
  service/src/migration/script/20231024064336_create_table_object.up.sql
  service/src/modules/modules.go
  service/src/modules/object/endpoint/create_object.go
  service/src/modules/object/endpoint/endpoint.go
  service/src/modules/object/entity/entity.go
  service/src/modules/object/module.go
  service/src/modules/object/repository/object.go
  service/src/modules/object/repository/repository.go
  service/src/modules/object/transport/handler/create_object.go
  service/src/modules/object/transport/handler/handler.go
  service/src/modules/object/transport/handler/http/request/create_object.go
  service/src/modules/object/transport/handler/http/response/create_object.go
  service/src/modules/object/transport/handler/http/router.go
  service/src/modules/object/usecase/create_object.go
  service/src/modules/object/usecase/usecase.go
  service/src/services/main.go
Labels: service, event

#19 fix(build): change to ubuntu build run-on
  .github/workflows/build-event-service-staging.yml
Labels: event, ci/cd

#21 fix(build): uses kt3k/update-pr-description
  .github/workflows/build-event-service-staging.yml
Labels: event, ci/cd

#25 fix(build): edit commit message and MR description
  .github/workflows/build-event-service-staging.yml
Labels: event, ci/cd

#26 fix(database): fix migration path and scripts
  service/src/migration/scripts/000001_create_table_object.down.sql
  service/src/migration/scripts/000001_create_table_object.up.sql
Labels: service, event

#27 build(event): push origin master directly
  .github/workflows/build-event-service-staging.yml
  service/.env.example
Labels: event, ci/cd
